$icomoon-font-family: "cube" !default;
$icomoon-font-path: "fonts" !default;

$cube-nav-chevron-left: "\e9c2";
$cube-nav-chevron-left-sticky: "\ea2a";
$cube-nav-chevron-right: "\e9c1";
$cube-nav-chevron-right-sticky: "\ea29";
$cube-nav-chevron-up: "\e9c0";
$cube-nav-chevron-down: "\e9bf";
$cube-nav-arrow-left: "\e956";
$cube-nav-arrow-right: "\e955";
$cube-nav-arrow-down: "\ea28";
$cube-nav-arrow-up: "\ea27";
$cube-nav-close: "\e907";
$cube-nav-more-vert: "\e906";
$cube-nav-more-horiz: "\e905";
$cube-nav-undo: "\e904";
$cube-nav-redo: "\e964";
$cube-nav-menu: "\e966";
$cube-nav-handle: "\e965";
$cube-nav-open: "\e97f";
$cube-nav-expand: "\e9b0";
$cube-nav-collapse: "\e9b1";
$cube-nav-drop-down: "\e908";
$cube-nav-drop-up: "\e980";
$cube-nav-chevron-left-double: "\e900";
$cube-nav-chevron-right-double: "\e901";
$cube-nav-chevron-up-double: "\e902";
$cube-nav-chevron-double-down: "\e903";
$cube-nav-list: "\ea26";
$cube-nav-expand-input: "\ea81";
$cube-nav-zoom-in: "\ea9a";
$cube-nav-zoom-out: "\ea9b";
$cube-content-edit: "\e961";
$cube-content-add: "\e93a";
$cube-content-add-outline: "\e939";
$cube-content-add-fill: "\ea25";
$cube-content-add-rectangle: "\ea24";
$cube-content-remove: "\e91d";
$cube-content-remove-fill: "\ea23";
$cube-content-remove-outline: "\ea59";
$cube-content-copy: "\e987";
$cube-content-duplicate: "\eac5";
$cube-content-clear: "\e90a";
$cube-content-clear-outline: "\ea22";
$cube-content-check: "\e90f";
$cube-content-check-double: "\ead1";
$cube-content-check-outline: "\ea82";
$cube-content-check-fill: "\eac6";
$cube-content-import: "\e988";
$cube-content-sub: "\e9af";
$cube-content-block: "\ea83";
$cube-content-warning: "\ea84";
$cube-content-swap-horiz: "\ea85";
$cube-content-swap-vert: "\ea86";
$cube-content-infinity: "\ea87";
$cube-content-trend-up: "\ea88";
$cube-content-trend-up-auto: "\ea9c";
$cube-content-trend-down: "\ea89";
$cube-content-trend-down-auto: "\ea9d";
$cube-content-flip-vert: "\eac7";
$cube-content-flip-horiz: "\eac8";
$cube-content-rotate-cw: "\eac9";
$cube-content-rotate-ccw: "\eaca";
$cube-alert-notification: "\e969";
$cube-alert-notification-active: "\e99f";
$cube-alert-notification-outline: "\e93e";
$cube-alert-notification-outline-active: "\e93d";
$cube-alert-notification-read: "\e9b3";
$cube-alert-error: "\e93f";
$cube-alert-error-outline: "\ea20";
$cube-alert-info: "\e951";
$cube-alert-info-outline: "\e940";
$cube-alert-change-increase: "\e979";
$cube-alert-change-decrease: "\e978";
$cube-comm-phone: "\e93c";
$cube-comm-chat: "\e93b";
$cube-comm-chat-fill: "\ead2";
$cube-comm-mobile: "\e968";
$cube-comm-laptop: "\ea1f";
$cube-comm-robot: "\ea5a";
$cube-action-post: "\e91a";
$cube-comm-reply: "\ead3";
$cube-comm-support: "\e924";
$cube-comm-headphone: "\ea9e";
$cube-device-printer: "\ead4";
$cube-device-calc: "\ea9f";
$cube-action-search: "\e91f";
$cube-action-home-outline: "\e916";
$cube-action-home: "\e952";
$cube-action-home-outline-window: "\ea1e";
$cube-action-home-window: "\ea1d";
$cube-action-feedback-like: "\e927";
$cube-action-feedback-dislike: "\e926";
$cube-action-feedback-doubt: "\e910";
$cube-action-favorite: "\e931";
$cube-action-favorite-outline: "\e930";
$cube-action-favorite-list: "\ea6c";
$cube-action-comment: "\e90b";
$cube-action-comment-add: "\ea1c";
$cube-action-list-outline: "\e971";
$cube-action-list-fill: "\e970";
$cube-action-profile-outline: "\e92c";
$cube-action-profile: "\e92d";
$cube-action-profile-round-outline: "\ea1b";
$cube-action-profile-round: "\ea1a";
$cube-action-eye-on: "\e977";
$cube-action-eye-off: "\e976";
$cube-action-hide: "\ea8a";
$cube-shop-vat: "\ea19";
$cube-action-cancel: "\e95b";
$cube-action-chart: "\e981";
$cube-action-history: "\e9b6";
$cube-action-privacy: "\e9ba";
$cube-action-terms: "\e9bb";
$cube-action-card: "\e95c";
$cube-action-search-category: "\ea17";
$cube-action-lucky-draw: "\ea16";
$cube-action-compare: "\e90c";
$cube-action-referral: "\e984";
$cube-action-setting: "\e921";
$cube-action-popular: "\ea15";
$cube-action-flash-on: "\e986";
$cube-action-flash-off: "\e985";
$cube-shop-receipt: "\e95d";
$cube-action-repurchase: "\ea14";
$cube-action-reload: "\e962";
$cube-action-camera: "\e98f";
$cube-action-camera-off: "\ea13";
$cube-action-price-tag: "\e91b";
$cube-action-attach: "\ea18";
$cube-file-doc: "\ea8b";
$cube-file-upload-doc: "\ea8c";
$cube-file-upload-cloud: "\e992";
$cube-file-download: "\ea12";
$cube-file-done: "\ea8d";
$cube-file-import: "\ea8e";
$cube-file-export: "\ea8f";
$cube-file-image: "\e917";
$cube-file-image-add: "\ea90";
$cube-file-excel: "\eaa0";
$cube-file-excel-upload: "\eaa1";
$cube-file-excel-download: "\eaa2";
$cube-action-bug: "\e95a";
$cube-action-calendar: "\e99c";
$cube-action-calendar-start-date: "\e99d";
$cube-action-calendar-end-date: "\e99e";
$cube-action-calendar-add: "\e9b9";
$cube-action-barcode: "\e96a";
$cube-action-barcode-scanner: "\e982";
$cube-action-barcode-package: "\eaa3";
$cube-action-star: "\e928";
$cube-action-star-outline: "\e929";
$cube-action-share-info: "\e9bd";
$cube-action-select: "\e96b";
$cube-action-shuffle: "\e99b";
$cube-action-lock: "\ea11";
$cube-action-lock-on: "\ea10";
$cube-action-filter: "\e912";
$cube-action-sort: "\e923";
$cube-action-search-suggest: "\e958";
$cube-action-history1: "\e957";
$cube-action-search-trend: "\e959";
$cube-action-bookmark: "\ea0f";
$cube-action-bookmark-outline: "\ea0e";
$cube-action-grid: "\e9b2";
$cube-action-feedback: "\e911";
$cube-action-ask: "\e909";
$cube-action-flag: "\e913";
$cube-action-mic: "\e975";
$cube-action-question: "\e91c";
$cube-action-question-simple: "\ea91";
$cube-action-gift-card: "\e972";
$cube-action-share: "\e963";
$cube-action-share-ios: "\ead5";
$cube-action-users: "\ea0c";
$cube-action-sign-in: "\e92a";
$cube-action-sign-out: "\e92b";
$cube-action-rotate-ccw: "\ea0b";
$cube-action-rotate-cw: "\ea0a";
$cube-action-basket-outline: "\ea09";
$cube-action-basket: "\ea08";
$cube-action-orders-outline: "\ea07";
$cube-action-orders: "\ea06";
$cube-action-mode-light: "\ea05";
$cube-action-mode-dark: "\ea04";
$cube-action-mode-dark-outline: "\e95e";
$cube-action-face-happy: "\ea03";
$cube-action-face-sad: "\ea02";
$cube-action-link: "\ea01";
$cube-action-delete: "\e90d";
$cube-action-fullscreen: "\ea00";
$cube-action-people: "\e9ff";
$cube-action-key: "\eaa4";
$cube-action-game: "\eaa5";
$cube-action-dkpc: "\e945";
$cube-action-compensate: "\ead6";
$cube-action-work: "\ead7";
$cube-action-work-fill: "\ead8";
$cube-shipping-mode-suggest: "\e934";
$cube-shipping-mode-quick: "\e932";
$cube-shipping-mode-simultaneous: "\e933";
$cube-shipping-express: "\e935";
$cube-shipping-fast: "\e936";
$cube-shipping-seller: "\e97c";
$cube-shipping-inperson: "\e97d";
$cube-shipping-jet: "\ea77";
$cube-shipping-locker: "\e9fe";
$cube-shipping-non-inventory: "\e97e";
$cube-shipping-post: "\e9a0";
$cube-shipping-tipox: "\e9fd";
$cube-shipping-bike-fast: "\e9fc";
$cube-shipping-bike: "\e9fb";
$cube-cat-fashion: "\e9a6";
$cube-cat-fashion-fill: "\e9fa";
$cube-cat-fresh: "\e9a7";
$cube-cat-fresh-fill: "\e9f9";
$cube-cat-kidstoy: "\e9a9";
$cube-cat-kidstooy-fill: "\e9f8";
$cube-cat-tools: "\e9ab";
$cube-cat-tools-fill: "\e9f7";
$cube-cat-bookstationary: "\e9a4";
$cube-cat-bookstationary-fill: "\e9f6";
$cube-cat-beauty: "\e9a3";
$cube-cat-beauty-fill: "\e9f5";
$cube-cat-electronic: "\e9a5";
$cube-cat-electronic-fill: "\e9f4";
$cube-cat-homekitchen: "\e9a8";
$cube-cat-homekitchen-fill: "\e9f3";
$cube-cat-sportoutdoor: "\e9aa";
$cube-cat-sportoutdoor-fill: "\e9f2";
$cube-cat-service: "\e9f1";
$cube-cat-service-fill: "\e9f0";
$cube-cat-all: "\e974";
$cube-cat-all-fill: "\e973";
$cube-cat-roosta: "\e9ef";
$cube-cat-roosta-fill: "\e9ee";
$cube-cat-men: "\ea5d";
$cube-cat-men-fill: "\ea5e";
$cube-cat-women: "\ea5f";
$cube-cat-women-fill: "\ea60";
$cube-cat-kids: "\ea61";
$cube-cat-kids-fill: "\ea62";
$cube-cat-ds-clothing: "\ea63";
$cube-cat-ds-accessories: "\eaa6";
$cube-cat-ds-shoe: "\eaa7";
$cube-cat-ds-bag: "\eaa8";
$cube-cat-ds-beauty: "\eaa9";
$cube-cat-ds-hair: "\eaaa";
$cube-cat-ds-hygiene: "\eaab";
$cube-cat-ds-makeup: "\eaac";
$cube-cat-ds-perfume: "\eaad";
$cube-cat-ds-sport: "\eaae";
$cube-cat-pin-beauty: "\eaaf";
$cube-cat-pin-book: "\eab0";
$cube-cat-pin-service: "\eab1";
$cube-cat-pin-kid: "\eab2";
$cube-cat-pin-tool: "\eab3";
$cube-cat-pin-out: "\eab4";
$cube-cat-pin-digital: "\eab5";
$cube-cat-pin-fashion: "\eab6";
$cube-cat-pin-home: "\eab7";
$cube-cat-pin-car: "\eab8";
$cube-cat-pin-other: "\eab9";
$cube-cat-pin-food: "\ead9";
$cube-location-pin: "\e946";
$cube-location-pill-fill: "\eada";
$cube-location-pin-multi: "\e9ed";
$cube-location-new: "\e944";
$cube-location-direction: "\e9ec";
$cube-location-iran: "\e9eb";
$cube-location-map: "\e967";
$cube-location-auto-detect-on: "\e943";
$cube-location-auto-detect-off: "\e942";
$cube-location-street: "\e947";
$cube-toggle-radio: "\e94f";
$cube-toggle-radio-on: "\e950";
$cube-toggle-checkbox: "\e94d";
$cube-toggle-checkbox-on: "\e94e";
$cube-toggle-checkbox-mix: "\e9ea";
$cube-toggle-switch: "\e9e9";
$cube-toggle-switch-on: "\e9e8";
$cube-social-instagram: "\e94a";
$cube-social-linkedin: "\e9e7";
$cube-social-telegram: "\e94b";
$cube-social-whatsapp: "\e98e";
$cube-social-twitter: "\e94c";
$cube-social-facebook: "\e948";
$cube-social-aparat: "\e9e6";
$cube-social-google: "\e949";
$cube-social-fidibo: "\e954";
$cube-social-virgool: "\eaba";
$cube-media-play: "\e994";
$cube-media-play-outline: "\e993";
$cube-media-pause: "\e995";
$cube-media-fast-forward: "\e996";
$cube-media-fast-backward: "\e997";
$cube-media-video: "\e92f";
$cube-media-3d: "\e92e";
$cube-media-devices: "\e9e5";
$cube-badge-coming-soon: "\e9e4";
$cube-badge-recommended: "\e941";
$cube-badge-amazing: "\e98d";
$cube-badge-discount-com: "\eac2";
$cube-badge-dk: "\e90e";
$cube-badge-dk-smile: "\e9e3";
$cube-badge-de: "\ea92";
$cube-badge-ds: "\ea64";
$cube-badge-ds-box: "\ea65";
$cube-badge-plus: "\e9b4";
$cube-badge-digipay: "\e9be";
$cube-badge-club-coin: "\e960";
$cube-badge-club: "\ea69";
$cube-badge-cafebazaar: "\e9e2";
$cube-badge-pindo: "\e9e1";
$cube-badge-magnet: "\ea5b";
$cube-badge-magnet-outline: "\ea5c";
$cube-badge-ganjeh: "\eabb";
$cube-badge-jet-nasa: "\eadb";
$cube-badge-jet: "\eadc";
$cube-badge-discount-clear: "\e97a";
$cube-badge-discount: "\e98b";
$cube-badge-discount-fill: "\ea6d";
$cube-badge-lightning: "\e9bc";
$cube-badge-ad-on: "\e9e0";
$cube-badge-ad-off: "\ea78";
$cube-badge-ad-draft: "\e9df";
$cube-badge-ad2: "\e9de";
$cube-badge-ad2-add: "\e9dd";
$cube-badge-free: "\e9a2";
$cube-badge-club-mission: "\e9dc";
$cube-badge-hashtag: "\e95f";
$cube-badge-voucher: "\e925";
$cube-badge-promotion: "\e9da";
$cube-badge-money: "\e9a1";
$cube-badge-topup: "\e9ac";
$cube-badge-data: "\e9d9";
$cube-badge-cashback: "\e97b";
$cube-badge-book: "\e9d7";
$cube-badge-ebook: "\eabc";
$cube-badge-audiobook: "\eabd";
$cube-badge-verified: "\e989";
$cube-badge-edu: "\eabe";
$cube-badge-wallet: "\e9d6";
$cube-badge-culture: "\e9d5";
$cube-badge-lamp: "\e9d4";
$cube-badge-organization: "\e9d3";
$cube-status-active: "\e99a";
$cube-status-deactive: "\e999";
$cube-badge-spec-roosta: "\e9b7";
$cube-badge-spec-organic: "\e9d2";
$cube-badge-spec-bunch: "\e9d1";
$cube-badge-spec-water-resistant: "\e9d0";
$cube-badge-spec-freeze: "\e9cf";
$cube-badge-spec-oversize: "\e9ce";
$cube-badge-spec-limited: "\e9cd";
$cube-badge-spec-highcopy: "\e9cc";
$cube-badge-spec-roosta2: "\e9cb";
$cube-badge-spec-sensitive: "\e9ca";
$cube-badge-spec-gaming: "\e9c9";
$cube-badge-spec-speedcontrol: "\e9c8";
$cube-badge-spec-rgb: "\e9c7";
$cube-badge-spec-bpa-free: "\e9c6";
$cube-badge-spec-smart: "\e9c5";
$cube-badge-spec-condition-16: "\e9c4";
$cube-badge-spec-darajeyek: "\e9c3";
$cube-badge-new-en: "\eabf";
$cube-badge-vat-yes: "\ea58";
$cube-badge-vat-no: "\ea57";
$cube-bagde-color: "\ea56";
$cube-badge-text: "\ea93";
$cube-badge-new-seller: "\ea94";
$cube-ad-sms: "\eadd";
$cube-ad-banner-web: "\eade";
$cube-ad-banner-dk: "\eadf";
$cube-ad-push: "\eae0";
$cube-ad-click: "\eae1";
$cube-ad-promo: "\eae2";
$cube-badge-public: "\eae3";
$cube-badge-discount-tiered: "\eae4";
$cube-shop-cart-outline: "\e937";
$cube-shop-cart: "\e938";
$cube-shop-cart-move: "\e919";
$cube-shop-cart-add: "\e9b8";
$cube-shop-product: "\ea79";
$cube-shop-product-available: "\e98c";
$cube-shop-product-unavailable: "\e9ad";
$cube-shop-product-return: "\e98a";
$cube-shop-product-pending: "\ea6a";
$cube-shop-product-limited: "\ea6b";
$cube-shop-save: "\e91e";
$cube-shop-gift: "\e914";
$cube-shop-seller: "\e920";
$cube-shop-guarantee: "\e915";
$cube-shop-size: "\e922";
$cube-shop-order: "\e9ae";
$cube-shop-add: "\e9b5";
$cube-shop-buy-now: "\e983";
$cube-shop-buy-return: "\ea0d";
$cube-shop-process: "\eacc";
$cube-shop-received: "\eacd";
$cube-shop-cancel: "\eace";
$cube-shop-payment: "\eacf";
$cube-status-not-received: "\e96d";
$cube-status-received: "\e96e";
$cube-status-partial: "\e96f";
$cube-status-processing: "\ea55";
$cube-status-returned: "\ea54";
$cube-status-notice: "\ea53";
$cube-value-toman: "\e953";
$cube-value-rial: "\eacb";
$cube-value-thousands: "\ea66";
$cube-value-million: "\ea67";
$cube-value-billion: "\eac0";
$cube-unit-g: "\ea95";
$cube-unit-kg: "\ea96";
$cube-unit-oz: "\ea97";
$cube-unit-l: "\ea98";
$cube-unit-ml: "\ea99";
$cube-value-percent: "\ea68";
$cube-content-circle: "\e96c";
$cube-payment-account: "\ea52";
$cube-payment-bank: "\ea51";
$cube-payment-cheque: "\ea50";
$cube-payment-cod: "\ea4f";
$cube-payment-credit: "\ea4e";
$cube-payment-digipay: "\ea4d";
$cube-payment-sheba: "\ea4c";
$cube-payment-safe: "\eac1";
$cube-payment-wallet: "\ea4b";
$cube-plus-12: "\ea4a";
$cube-plus-6: "\ea49";
$cube-plus-3: "\ea48";
$cube-plus-2: "\ea47";
$cube-plus-1: "\ea46";
$cube-shop-external-outline: "\eac3";
$cube-shop-external: "\eac4";
$cube-shop-insurance: "\eae5";
$cube-cloud-permission: "\ea45";
$cube-cloud-api: "\ea44";
$cube-cloud-disk: "\ea43";
$cube-cloud-cli: "\ea42";
$cube-cloud-external-ip: "\ea41";
$cube-cloud-Iaas: "\ea40";
$cube-cloud-check: "\ea3f";
$cube-cloud-language: "\ea3e";
$cube-cloud-workspace: "\ea3d";
$cube-cloud-chart: "\ea3c";
$cube-cloud-status-checked: "\ea3b";
$cube-cloud-status-outline: "\ea3a";
$cube-cloud-status-off: "\ea39";
$cube-cloud-status-fill: "\ea38";
$cube-cloud-hub: "\ea37";
$cube-cloud-iaaaas: "\ea36";
$cube-os-mac: "\ea35";
$cube-os-windows: "\ea34";
$cube-os-suse: "\ea33";
$cube-os-freebsd: "\ea32";
$cube-os-centos: "\ea31";
$cube-os-ubuntu: "\ea30";
$cube-os-debian: "\ea2f";
$cube-os-coreos: "\ea2e";
$cube-os-ios: "\e990";
$cube-os-android: "\ea2d";
$cube-label-off: "\ea2c";
$cube-label-off-outline: "\ea2b";
$cube-label-on: "\ea21";
$cube-label-on-outline: "\e9db";
$cube-label-add: "\e9d8";
$cube-label-add-outline: "\e918";
$cube-blog-article: "\ea6e";
$cube-blog-podcast: "\ea6f";
$cube-blog-team-bi: "\ea70";
$cube-blog-team-data: "\ea71";
$cube-blog-team-design: "\ea72";
$cube-blog-team-engineering: "\ea73";
$cube-blog-team-infra: "\ea74";
$cube-blog-team-product: "\ea75";
$cube-badge-delivery-jet: "\ea7a";
$cube-badge-product: "\e991";
$cube-alert-notification-fill-active: "\e998";
$cube-badge-order: "\ea76";
$cube-badge-ad: "\ea7b";
$cube-badge_plus: "\ea7c";
$cube-action_recipt: "\ea7d";
$cube-badge-available-product: "\ea7e";
$cube-badge-gift: "\ea7f";
$cube-badge-delivery-fast-delivery: "\ea80";
$cube-badge-delivery-ship-by-seller: "\ead0";

